* {
  box-sizing: border-box;
}

body {
  background-color: #ffecb3;
}

h1 {
  font-weight: bolder;
}

#cookieBoxLeft {
  padding: 0;
}

#cookieBoxRight {
  padding: 0;
}

#btnContainer {
  padding: 10px 10px;
}

#fortuneBox {
  display: none;
}

#newBtnContainer {
  display: none;
}

#quoteCont {
  color: #f50606;
  padding: 80px;
  font-family: 'Lucida Sans';
  font-size: 180%;
}

/*  */