* {
  box-sizing: border-box;
}

body {
  background-color: #ffecb3;
}

h1 {
  font-weight: bolder;
}

#cookieBoxLeft {
  padding: 0;
}

#cookieBoxRight {
  padding: 0;
}

#btnContainer {
  padding: 10px 10px;
}

#fortuneBox {
  display: none;
}

#newBtnContainer {
  display: none;
  padding: 0px 15px 15px 15px;
}

#quoteCont {
  color: #f50606;
  padding: 20px;
  align-content: center;
  text-align: center;
  font-family: 'Lucida Sans';
}

#giphyCont {
  padding: 20px;
  align-content: center;
  align-content: center;
}

/*  */